streamlit
langchain
langchain-community
faiss-cpu
chromadb
sentence-transformers
transformers
torch
PyMuPDF
beautifulsoup4
requests 
speechrecognition
yt-dlp
whisper
youtube-transcript-api
matplotlib
plotly
paddleocr
smtplib
email-validator
pdf2image
pytesseract
paddlepaddle